* {
    box-sizing: border-box;
}

p {
    color: red;
}

header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgrey;
    color: white;      
}

header h1{
    font-size: 48px;
}

header nav {
    padding top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    float: right;
    font-size: 20px;

}