html {
    font-size: 100%;
    line-height: 15px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(108, 105, 105);
}

p {
    color: white;
    
}

header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    color: white;      
}

header h1{
    display: inline-block;
    font-size: 36px;
}

.avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
    
    header nav ul {
        list-style-type: none;
    }
    
    header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }



#hero {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(../css/images/FFXV\ Module\ 2.jpg);
    background-position: center;
}




body {
    margin: 0% auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
}

#description {
    padding-left: 20px;
    text-align: center;
    display: inline-block;
    
  
    
}
#keyboard {
    height: 10%;
   
    
    
}

img {
    height: 100%;
    width: 100%;
    display: block;
}

aside {
    width: 30%;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    
}




.card {
    border-style: solid;
}

#works {
    background-color: black;
}

h2 {
    color: white;
}



.footer {
    text-align: center;
    padding: 30%;
}

.footer nav ul {
    margin-right: 20px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    font-size: 15px;
}

.footer nav ul li {
    display: inline-block;

}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;

}
h3 {
    color: white;
    margin-left: 30px;
}